extends layout

block content
  h3(class="mdc-typography--headline3 center") #{message}
  h4(class="mdc-typography--headline4 center") #{status} #{status} #{status} #{status} #{status} #{status}
  
  pre(id="fortune")= fortune
  
  h4(class="mdc-typography--headline4 center") #{status} #{status} #{status} #{status} #{status} #{status}
